﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.fill {
    margin-top:-19px;
    height:80vh;
}

.verticalcenter {
    padding: 10px;
    vertical-align:bottom;
}
.laranja {
    background-color:#FF7100;
}
.laranja a {
    color: white;
}
    .laranja a:hover {
        background-color:#FF3B00;
    }

    .laranja ul > li > a:hover {
        background-color: #FF3B00;
    }