﻿@using WebSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Efetuar login";
}
<div class="col-md-6 bg-primary fill">
    <br />
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal verticalcenter", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Utilize os seus dados de acesso para efetuar login.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-white" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-white" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-white" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Efetuar login" class="btn btn-default" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Registrar-se como novo usuário", "Index", "Home")
        </p>
        @* Ativar isso assim que você tiver a confirmação de conta ativada para a funcionalidade de redefinição de senha
            <p>
                @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
            </p>*@
    }
</div>
    <div class="col-md-6">
        <img src="~/Content/img/tempo.png" />
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}