﻿@model WebSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Home Page";
}



<div class="col-lg-6 bg-primary fill">
     @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal verticalcenter", role = "form" }
     ))
     { 
        @Html.AntiForgeryToken()
         <br />
        <h4>Crie uma nova conta</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-white" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Registe-se" />
            </div>
        </div>
    }

</div>
<div class="col-lg-6">
    <img src="~/Content/img/tempo.png" />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
